/* line 1, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/custom.css.scss */
.card {
  float: none;
  margin: 0 auto;
  margin-bottom: 15px;
}

/* line 6, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/custom.css.scss */
.title {
  text-align: center;
  font-weight: bold;
  padding: 15px;
  margin: 0;
}

/* line 12, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/custom.css.scss */
.card-title {
  font-weight: bold;
}

/* line 15, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/custom.css.scss */
.jumbotron {
  margin-bottom: 0;
  background-color: #fff;
}

/* line 19, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/custom.css.scss */
.lead {
  margin-bottom: 8px;
}

/* line 22, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/custom.css.scss */
.card-body {
  padding-bottom: 5px;
}
/* line 2, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/nav.css.scss */
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-image: url(/assets/pattern-ddff433c53b50667fc84c1070a60e676fa15dd1549e8879a127cf8447025e0a4.png);
}

/* line 7, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/nav.css.scss */
.sidenav {
  top: 0;
  left: 0;
  width: 0;
  z-index: 99;
  height: 100%;
  position: fixed;
  padding-top: 60px;
  overflow-x: hidden;
  background-color: #fff;
  transition: .5s ease-in-out;
}

/* line 19, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/nav.css.scss */
.sidenav a {
  text-decoration: none;
  font-size: 18px;
  color: #212121;
  display: block;
}

/* line 25, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/nav.css.scss */
#menu-title {
  padding-left: 32px;
  font-weight: bold;
  font-size: 28px;
  color: #212121;
  display: block;
  margin-top: 0;
}

/* line 33, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/nav.css.scss */
.sidenav .closebtn {
  top: 0;
  right: 25px;
  padding: 8px;
  font-size: 36px;
  transition: .25s;
  position: absolute;
}

/* line 41, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/nav.css.scss */
.sidenav .closebtn:hover {
  background-color: transparent;
  transition: .25s;
  cursor: pointer;
  color: red;
}

/* line 47, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/nav.css.scss */
#open {
  transition: .25s;
  margin-left: 5px;
  font-size: 28px;
  cursor: pointer;
  color: #212121;
}

/* line 54, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/nav.css.scss */
#open:hover {
  color: #8dda06;
  transition: .25s;
}

/* line 58, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/nav.css.scss */
#trigger-wrapper {
  background-color: #fff;
  position: fixed;
  padding: 25px;
  width: 100%;
  z-index: 98;
  top: 0;
}

/* line 66, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/nav.css.scss */
a.menu-link {
  padding: 12px 0 12px 32px;
  transition: .25s;
}

/* line 70, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/nav.css.scss */
a.menu-link:hover {
  background-color: #8dda06;
  padding: 12px 0 12px 36px;
  transition: .25s;
}

/* line 75, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/nav.css.scss */
#logo {
  text-decoration: none;
  font-weight: bold;
  margin-left: 55px;
  display: inline;
  font-size: 28px;
  color: #212121;
}

/* line 83, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/nav.css.scss */
#smart {
  color: #8dda06;
}

/* line 86, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/nav.css.scss */
main {
  padding-top: 90px;
}

@media screen and (max-height: 450px) {
  /* line 92, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/nav.css.scss */
  .sidenav {
    padding-top: 15px;
  }
}
@media screen and (max-width: 450px) {
  /* line 95, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/nav.css.scss */
  #trigger-wrapper {
    padding: 15px;
  }

  /* line 96, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/nav.css.scss */
  #logo {
    margin-left: 40px;
  }

  /* line 97, /home/ubuntu/rails_projects/nutriSmart/app/assets/stylesheets/nav.css.scss */
  main {
    padding-top: 70px;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

