.card{
  float: none;
  margin: 0 auto;
  margin-bottom: 16px;
}
.title{
  text-align: center;
  font-weight: bold;
  padding: 25px;
  margin: 0;
}
.card-title{
  font-weight: bold;
}
.jumbotron{
  margin-bottom: 0;
  padding: 40px 32px;
  background-color: #fff;
}
.lead{
  margin-bottom: 8px;
}
