body{
	margin: 0;
	color: #212121;
	font-family: 'Raleway', sans-serif;
	background-image: asset-url('pattern.jpg');
}
.sidenav{
	top: 0;
	left: 0;
	width: 0;
	z-index: 99;
	height: 100%;
	position: fixed;
	padding-top: 60px;
	overflow-x: hidden;
	background-color: #fff;
	transition: .25s linear;
	box-shadow: 0 1px 3px rgba(0,0,0,0.125);
}
.sidenav a{
	text-decoration: none;
	font-size: 18px;
	color: #212121;
	display: block;
}
#menu-title{
	padding-left: 32px;
	font-weight: bold;
	font-size: 28px;
	color: #212121;
	display: block;
	margin-top: 0;
}
.sidenav .closebtn{
	top: 0;
	right: 25px;
	padding: 8px;
	color: #212121;
	cursor: pointer;
	font-size: 36px;
	transition: .25s;
	position: absolute;
}
.sidenav .closebtn:hover{
	transition: .25s;
	color: red;
}
.open{
	margin-left: 10px;
	transition: .25s;
	font-size: 28px;
	cursor: pointer;
	color: #212121;
}
.open:hover{
	color: #8dda06;
	transition: .25s;
}
#trigger-wrapper{
	box-shadow: 0 1px 3px rgba(0,0,0,0.125);
	background-color: #fff;
	position: fixed;
	padding: 20px;
	width: 100%;
	z-index: 98;
	top: 0;
}
a.menu-link{
	padding: 12px 0 12px 32px;
	transition: .25s;
}
a.menu-link:hover{
	background-color: #8dda06;
	padding: 12px 0 12px 38px;
	transition: .25s;
}
#logo{
	text-decoration: none;
	font-weight: bold;
	margin-left: 40px;
	display: inline;
	font-size: 28px;
	color: #212121;
}

#smart{ color: #8dda06; }

main{ padding-top: 82px; }

h1, h2, h3, h4, h5, h6{ color: #212121; }

@media screen and ( max-height: 450px ) {
	.sidenav { padding-top: 15px; }
}
