<h2 class="title">Editing Review</h2>
<div align="center" style="margin-bottom: 16px;">
  <%= render 'form', review: @review %>
  <!--<%= link_to 'Go Back', reviews_path, class: "btn btn-outline-dark", style: "margin: 16px 0px;" %>-->
</div>
